[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
Werkzeug = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
sqlalchemy-serializer = "*"
faker = "*"
flask-migrate = "*"
pytest = "*"

[dev-packages]

[requires]
python_full_version = "*"
